@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-dm-sans), sans-serif;
  overflow: hidden;

}

/* Custom Utilities if needed, though Tailwind covers most */
.font-syne {
  font-family: var(--font-syne), sans-serif;
}

.font-mono {
  font-family: var(--font-dm-mono), monospace;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 1s ease-out forwards;
}